import react from '@vitejs/plugin-react'
import { resolve } from 'path'
import { loadEnv } from './dotenv.config'

export default function defineConfig({ mode }) {
  const { VITE_PORT } = loadEnv(mode)
  const alias = {
    "@": resolve(__dirname, "./src"),
    assets: resolve(__dirname, "./src/assets"),
  }
  return {
    plugins: [react()],
    root: process.cwd(),
    resolve: {
      alias, extensions: ['.mjs', '.js', '.ts', '.jsx', '.tsx', '.json'],
    },
    base: './',
    server: {
      host: '0.0.0.0',
      port: VITE_PORT,
      open: true,
    },
    build: {
      cssCodeSplit: false,
      sourcemap: false,
      outDir: 'dist',
      emptyOutDir: true,
      chunkSizeWarningLimit: 4000,
      rollupOptions: {
        output: {
          entryFileNames: 'js/[name]-[hash].js',
          chunkFileNames: 'js/[name]-[hash].js',
          assetFileNames(assetInfo) {
            if (assetInfo.name.endsWith('.css')) {
              return 'css/[name]-[hash].css'
            }
            const imgExts = ['.png', '.jpg', '.jpeg', '.webp', '.svg', '.gif', '.ico']
            if (imgExts.some(ext => assetInfo.name.endsWith(ext))) {
              return 'imgs/[name]-[hash].[ext]'
            }
            if (assetInfo.name.endsWith('.json')) {
              return 'json/[name]-[hash].[ext]'
            }
            return 'assets/[name]-[hash].[ext]'
          },
        }
      },
    },
  }
}
