/* App.css */

/* ****************Navbar**************** */
.navbar {
  margin: 20px 10px;
}
.navbar ul {
  list-style-type: none;
  padding: 0;
  margin: 10px;
  display: flex;
  justify-content: space-around;
  background-color: #ffffff;
}

.navbar li {
  margin: 0 15px;
}

.navbar a {
  text-decoration: none;
  color: #404040;
  font-weight: bold;
  font-size: 16px;
}

.navbar a:hover {
  color: #aaaaaa;
}

.navbar a.active {
  color: #ffffff; /* Change text color to white when active */
  background-color: #007bff; /* Blue background on click */
  transition: background-color 0.3s ease; /* Smooth transition */
}

/* .logo-toggle-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
} */

/* .logo-title-container {
  display: flex;
  align-items: center;
} */

/* .logo-icon {
  width: 40px;
  height: auto;
  margin-right: 20px;
} */

/* .close-button {
  background-color: transparent;
  border: none;
}
.close-icon {
  width: 20px;
  height: auto;
} */

/* .toggle-close-container {
  display: flex;
  align-items: center;
  gap: 10px;
} */

/* ************* Settings page ***************** */
.filter-container {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin: 0px;
  padding: 0px;
}

.filter-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 5px 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding-right: 10px;
}

.filter-list li {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 5px 0;
  width: 100%;
}

.dark-pattern-icon {
  width: 25px;
  height: 25px;
  margin-right: 10px;
}

.filter-checkbox {
  margin-left: auto;
  width: 20px;
  height: 20px;
}

.pref-checkbox {
  margin-left: 20px;
}

.preference-container {
  margin: 0px;
  padding: 0px;
}

.preference-list {
  list-style-type: none;
  display: flex;
  padding: 0;
  margin: 0;
  justify-content: space-around;
  gap: 10px;
}
.pref-checkbox {
  margin-left: 10px;
}

.preference-list li {
  display: flex;
  align-items: center;
}

.setting-page-title {
  margin-left: 20px;
  display: flex;
  align-items: center;
}
